{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="mentix02">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}djodo{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  {% block head %}

  {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'task:index' %}">Djodo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% block list_active %}{% endblock %}" href="{% url 'task:index' %}">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block create_active %}{% endblock %}" href="{% url 'task:create' %}">create</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            actions
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteCompletedModal" href="#">
                delete completed
              </a>
            </li>
            <li>
              <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#markTasksComplete" href="#">
                mark all tasks complete
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <form id="date-form" class="d-flex">
        {% csrf_token %}
        <div class="input-group">
          <input id="date" type="date" class="form-control">
          <button type="submit" class="btn btn-primary">search</button>
        </div>
      </form>
    </div>
  </div>
</nav>

<div id="modals"></div>

{% if messages %}
  <div class="container">
    <br>
    <div class="row">
      {% for message in messages %}
        <div class="col-sm-12 col-md-6 offset-md-3">
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% block body %}

{% endblock %}

<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
<script>
  const modalDiv = document.querySelector("#modals");
  modalDiv.appendChild(
    htmlToElement(
      createModalTemplate(
        "deleteCompletedModal",
        "delete completed tasks?",
        "{% url 'task:delete-completed' %}",
        "{{ request.path }}", "danger")
    )
  );

  {#modalDiv.appendChild(#}
  {#  htmlToElement(#}
  {#    createModalTemplate(#}
  {#      "markTasksComplete",#}
  {#      "mark all tasks complete?",#}
  {#      "{% url 'task:mark-all-complete' %}",#}
  {#      "", "success")#}
  {#  )#}
  {#);#}
</script>
{% block javascript %}

{% endblock %}
</body>
</html>